

.notFound {
    background-image: url("https://media.istockphoto.com/id/687810238/photo/pug-dog-with-yellow-constructor-safety-helmet-and-cone-and-404-error-and-dead-end-sign-on.jpg?b=1&s=612x612&w=0&k=20&c=4pw-LkdXuKYNXQBs1Rm5w2v6EBhgHKIJ8EHMgFM38vY=");
    height: 700px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    padding-left: 10%;
    

}
